services:
  frontend:
    image: node:20-alpine
    user: "node"
    working_dir: /app
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost/api
    volumes:
      - .:/app
    ports:
      - 3000:5173
    command: sh -c "npm install && npm run dev -- --host"
    networks:
      - sail

networks:
  sail:
    driver: bridge